<div class="container">
    <div class="row">
        <div id="SignupOrSignin" class = text-center>
            <h2>Đăng ký</h2>
            {{> message}}
            <form action = "/users/signup" method = "POST">
                <div class="form-group">
                    <label>Email
                        <input type = "text" name = "email" placeholder = "email" class = "form-control">
                    </label>
                </div>
                <div class="form-group">
                    <label> Mật khẩu
                        <input type = "password" name = "password" placeholder = "nật khẩu" class = "form-control">
                    </label>
                </div>

                <input type = "hidden" name = "_csrf" value = "{{csrfToken}}">
                <button class="btn btn-success">Đăng ký</button>
            </form>
            <p>Bạn đã có tài khoản? Bạn có thể đăng nhập ở đây: <a href= "/users/signin"> Đăng Nhập</a></p>
        </div>
        
    </div>
</div>