<div class="container">
    <div class="row">
        <div id="SignupOrSignin" class = text-center>
            <h2>Đăng Nhập</h2>
            {{> message}}
            <form action = "/users/signin" method = "POST">
                <div class="form-group">
                    <label>Email
                        <input type = "text" name = "email" placeholder = "email" class = "form-control">
                    </label>
                </div>
                <div class="form-group">
                    <label> Mật khẩu
                        <input type = "password" name = "password" placeholder = "mật khẩu" class = "form-control">
                    </label>
                </div>

                <input type = "hidden" name = "_csrf" value = "{{csrfToken}}">
                <button class="btn btn-success">Đăng nhập</button>
            </form>
            <p>bạn chưa có tài khoản? hãy tạo tài khoản mới ở đây: <a href= "/users/signup"> Đăng ký</a></p>
        </div>
        
    </div>
</div>